.navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.menu-toggle {
  position: absolute;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-left: 97%;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin-bottom: 4px;
}

.menu {
  position: absolute;
  display: none;
  list-style-type: none;
  padding: 20px;
  margin-left: 92%;
  margin-top: 2%;
  background-color: aqua;
}

.menu li {
  padding: 10px;
}

.menu a {
  color: black;
  text-decoration: none;
}
